body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0d0d0d;
  color:white;
  overflow:hidden;
}

/* Loading */
#loadingScreen{
  position:fixed;
  width:100%;
  height:100%;
  background:url('assets/loading.jpg') center/cover no-repeat;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.bar{
  width:60%;
  height:6px;
  background:#111;
  border:1px solid #c40000;
}

#fill{
  height:100%;
  width:0%;
  background:#c40000;
}

/* Safe Room */
#safeRoom{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:url('assets/saferoom.jpg') center/cover no-repeat;
  z-index:9;
}

/* App */
#app{
  display:none;
  height:100vh;
  flex-direction:column;
  background:#0d0d0d;
}

header{
  padding:15px;
  border-bottom:2px solid #c40000;
}

.panel{
  margin:10px;
  padding:10px;
  background:#111;
  border:1px solid #333;
  overflow:auto;
}

.song{
  padding:6px;
  border-bottom:1px solid #222;
  cursor:pointer;
}

.song:hover{
  background:#300;
}

.controls{
  display:flex;
  justify-content:space-around;
  padding:10px;
  border-top:2px solid #c40000;
}

canvas{
  width:100%;
  height:80px;
}
